<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Cookbook</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/recipes}">Cookbook</a>
</nav>
<!-- Navbar ends -->
<div class="container">

    <div class="row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Create New Recipe </h1>
            <div class = "card-body">
                <form th:action="@{/recipes}" th:object = "${recipe}" method="POST">
                    <div class ="form-group">
                        <label> Recipe Name </label>
                        <input
                                type = "text"
                                name = "name"
                                th:field = "*{name}"
                                class = "form-control"
                                placeholder="Enter Name"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Recipe Description </label>
                        <input
                                type = "text"
                                name = "description"
                                th:field = "*{description}"
                                class = "form-control"
                                placeholder="Enter description"
                        />
                    </div>

                    <div class ="form-group">
                        <label> Ingredients </label>
                        <input
                                type = "text"
                                name = "ingredients"
                                th:field = "*{ingredients}"
                                class = "form-control"
                                placeholder="Enter ingredients"
                        />
                    </div>
                    <div class ="form-group">
                        <label> Directions </label>
                        <input
                                type = "text"
                                name = "directions"
                                th:field = "*{directions}"
                                class = "form-control"
                                placeholder="Enter directions"
                        />
                    </div>

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>